<table>


	<tbody>
		
		<% @videos.each do |video|%>
			<tr>
			
			<td><%= link_to video.name, video_path(video.id)%></a></td> 
			<td><%= video.created_at.strftime("%B %d") %> </td>
			<td><%= @users.find(video.user_id).username%></td> 

			</tr>
		<% end -%>

	</tbody>
</table>